#two, #container,#container2,#container3, #render, #renderRoom, #dataset, #render2, #render3, #render4, #scheduleForm, #render5, #render6, #renderT, #timetableRender  {
    width:80%;
    margin:auto;
    margin-top:10px;
    border-style:solid;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.6);
}

th {
    text-align: left;
}

body {
    background-image: url("http://slais-ischool.sites.olt.ubc.ca/files/2014/07/Aerials-Main-Mall_20130913__Hover-Collective-10-2.jpg");
    background-color: #cccccc;
    background-size: 100%;
    background-attachment: fixed;
}

th, td {
    padding: 0 1em 0.5ex 0;
    border-style:solid;
    padding:10px;
}

th.center, td.center {
    text-align: center;
}

th.num, td.num {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}